@media screen and (min-width: 280px) {
  .input-search-country {
    width: 100%;
  }
  .input-select-region {
    max-width: 180px;
    width: 100%;
  }
}
@media screen and (min-width: 680px) {
  .input-select-region {
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .input-search-country {
    width: 100%;
    max-width: 500px;
  }
  .input-select-region {
    max-width: 400px;
  }
}
