@font-face {
  font-family: 'Nunito Sans', sans-serif;
  /*src: local('Nunito Sans'), url('../public/fonts/NunitoSans-Black.ttf'),*/
  /*url('../public/fonts/NunitoSans-BlackItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-BlackItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-BlackItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-Bold.ttf'),*/
  /*url('../public/fonts/NunitoSans-BoldItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-ExtraBold.ttf'),*/
  /*url('../public/fonts/NunitoSans-ExtraBoldItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-ExtraLight.ttf'),*/
  /*url('../public/fonts/NunitoSans-ExtraLightItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-Light.ttf'),*/
  /*url('../public/fonts/NunitoSans-LightItalic.ttf'),*/
  /*url('../public/fonts/NunitoSans-Italic.ttf'),*/
  /*url('../public/fonts/NunitoSans-Light.ttf'),*/
  /*url('../public/fonts/NunitoSans-Regular.ttf'),*/
  /*url('../public/fonts/NunitoSans-SemiBold.ttf'),*/
  /*url('../public/fonts/NunitoSans-SemiBoldItalic.ttf');*/
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}
